<div {{ wrapper_attributes | raw }}>
    <form id="newsletterForm" class="newsletter-form" method="post" novalidate>
        <div class="newsletter-form__row">
            <input
                id="fieldEmail"
                class="newsletter-form__input"
                type="email"
                name="email"
                required
                aria-label="Email"
                autocomplete="email"
                maxlength="200"
                placeholder="{{ placeholder }}"
            />
            <div class="newsletter-form__submit">
                <button type="submit" class="wp-element-button newsletter-form__button">
                    {{ submit_label }}
                </button>
                {% if required_label %}
                    <span class="newsletter-form__required">{{ required_label }}</span>
                {% endif %}
            </div>
        </div>{{ extra_fields | raw }}
    </form>
</div>
